<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopii for staff</title>
    <th:block th:replace="staff/staff-base :: styles"></th:block>
</head>
<body>
<header th:replace="staff/staff-base :: header"></header>


<div id="layoutSidenav">
    <!--    sidebar-->
    <div th:replace="staff/staff-base :: sidebar" id="layoutSidenav_nav"></div>

    <!--content-->
    <div id="layoutSidenav_content">
        <!--main-content-->
        <main>
            <div class="d-flex justify-content-between p-3">
                <h3>Người dùng</h3>
                <a class="btn btn-primary">Quay lại</a>
            </div>
            <div class="d-flex align-items-center">
                <table class="table text-center">
                    <thead class="table-dark">
                    <tr>
                        <th>Tên cửa hàng</th>
                        <th>Email</th>
                        <th>Chủ sở hữu</th>
                        <th>Mặt hàng</th>
                        <th>Xác nhận</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr >
                        <td >Hasaki</td>
                        <td >hasaki@gmail.com</td>
                        <td >oak</td>
                        <td >Mỹ phẩm</td>
                        <td>
                            <a type="button" class="btn btn-outline-secondary"
                              href="#"
                            >Duyệt</a>
                            <a type="button" class="btn btn-outline-danger"
                               href="#"
                            >Hủy</a>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </main>


        <!--footer-->
        <footer th:replace="staff/staff-base :: footer" class="py-4 bg-light mt-auto"></footer>

    </div>
</div>

<th:block th:replace="staff/staff-base :: scripts"></th:block>
</body>
</html>